body {
    background-color: #f3eddf;
    margin: 0;
}

.header{
    display: flex;
    background-color: #B51222;
    justify-content: center;
    /* border: 5px solid gold; */
    padding: 10px;
}

.sm_logo{
    height: 90px;
    margin-left: auto;
    margin-right: 15px;
}

.main{
    margin-left: 0;
    margin-right: auto;
}

.contenedor_navegacion{
    overflow: hidden;
    background-color: #B51222;
}

.contenedor_navegacion .boton {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
  overflow: hidden;
}

.subnav{
    float: left;
    overflow: hidden;
}

.boton{
    font-size: 16px;
    border: none;
    height: 50px;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #B51222;
    margin: 0;
}

.contenedor_navegacion .menu:hover, .subnav:hover .item{
    background-color: #B51222;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #B51222;
    width: 100%;
    z-index: 1;
    margin-top: 50px;
}

.subnav-content .item {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content .item:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .menu {
    background-color: #821721;
}

.subnav:hover > .subnav-content {
  display: block;
}


.page_box{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 800px;
    justify-content: center;
}

.title{
    justify-self: center;
}

.page_title{
    padding: 10px;
    margin: 0;
    background-color: gold;
    color: #333;
}

.div_parametros{
    border: 3px solid gold;
    width: 40%;
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.div_grafica{
    border: 3px solid gold;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

.grafica{
    display: flex;
    justify-content: center;
}

.div_flex{
    display: flex;
}
