body {
    background-color: #f3eddf;
    margin: 0;
}

.header{
    display: flex;
    background-color: #B51222;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
}

.main{
    color: #eee;
}

.sm_logo{
    height: 90px;
    margin-left: 0px;
    margin-right: 15px;
}

.contenedor_navegacion{
    overflow: hidden;
    background-color: #B51222;
}

.contenedor_navegacion .boton {
  float: left;
  font-size: 25px;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
  overflow: hidden;
}

.subnav{
    float: left;
    overflow: hidden;
}

.boton{
    font-size: 25px;
    border: none;
    height: 60px;
    outline: none;
    color: #eee;
    background-color: #B51222;
    margin: 0;
}

.contenedor_navegacion .menu:hover, .subnav:hover .item{
    background-color: #B51222;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #B51222;
    z-index: 1;
    margin-top: 60px;
}

.subnav-content .item {
    width: 100%;
    color: #eee;
    text-decoration: none;
}

.subnav-content .item:hover {
  background-color: #eee;
  color: #333;
}

.subnav:hover .menu {
    background-color: #821721;
}

.subnav:hover > .subnav-content {
    display: flex;
    flex-direction: column;

}


.page_box{
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 800px;
    justify-content: center;
}

.title{
    justify-self: center;
    background-color: gold;
    padding: 10px 10px;
    margin: 0px;
    color: #333;
}

.input-label{
    margin: 0px;
}

.page_title{
    padding: 10px;
    margin: 0;
    background-color: gold;
    color: #333;
}

.div_parametros{
    /* border: 3px solid gold; */
    width: 40%;
    justify-content: center;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.div_grafica{
    /* border: 3px solid gold; */
    width: 60%;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.grafica{
    display: flex;
    justify-content: center;
}

.div_flex{
    display: flex;
    margin-bottom: 10px;
}

.input-right-margin{
    margin-right: 30px;
}

input[type=number]{
    margin: 0px 5px;
    padding: 10px 20px;
    width: 50px;
}
